.idea/
tfg-spring-notification-solucio/target/
tfg-spring-notification-solucio/logging/
tfg-spring-communication/target/
tfg-spring-communication/logging/
tfg-spring-user/target/
tfg-spring-user/logging/
user.log
notification.log
